{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <section class="hero container-fluid d-flex p-5 justify-content-center align-items-center flex-column">
        <h1 class="h1 mb-3 text-white">
            Find Your Masterclasses
        </h1>
        <a class="btn btn-primary" href="{% url 'index' %}">Go to Masterclasses</a>
    </section>
    <section class='reviews container py-5'>
        <h2>Reviews</h2>
        <div class="reviews-cards d-flex flex-wrap gap-3 justify-content-between align-items-between">
            <div class="card" style="width: 32rem; ">
                <div class="card-body">
                    <h5 class="card-title">Anna Goldman</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Make flower bouquet
                    </h6>
                    <p class="card-text">
                        Masterclass was really great. Teacher was nice and explained everything very clearly and gave us interesting extra information.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title">Itan Rabinovich</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Sommelier class
                    </h6>
                    <p class="card-text">
                        We invited sommelier for the bithday party. Masterclass was amazing, we tried different types of wine and the instructor explained us how they were grown and all the difference. I had good time with my friends.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title">Sarah Cohen</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Decorate a cake
                    </h6>
                    <p class="card-text">
                        I invited massterclass for my kids birthday and it was great and very professional. Teacher came to our place with all needed materials and spend 2 amazing hours with kids
                    </p>
                </div>
            </div>
            <div class="card" style="width: 32rem; ">
                <div class="card-body">
                    <h5 class="card-title">Tal Fridman</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Make clay vase
                    </h6>
                    <p class="card-text">
                        I enjoyed clay vase masterclass that I recently visited. It was in great clay studio witgh lots of equipment and the teacher is a well-known master in his sphere. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="contacts container d-flex gap-5 justify-content-between">
        <div class="block">
            <h2 class="mb-5">Contacts</h2>
            <a class="d-block" href="tel:+97205400000000">+972 054 00 00000</a>
            <a class="d-block" href="mailto:admin@gmail.com">admin@gmail.com</a>
        </div>
        <div class="block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d216253.51390190344!2d34.800886683147866!3d32.12435133960059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4ca6193b7c1f%3A0xc1fb72a2c0963f90!2z0KLQtdC70Ywt0JDQstC40LI!5e0!3m2!1sru!2sil!4v1672560393332!5m2!1sru!2sil"
                    width="600"
                    height="450"
                    style="border:0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
{% endblock content %}
